

.contentInfo {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: auto;
    padding-left: 10rem;
    padding-top: 2rem;
}

.contentIcon {
    width: 16rem;
    transform: translateX(-7.5rem);
}

.contentIcon p {
    position: absolute;
    left: 5.6rem;
    bottom: 2rem;
    color: #FFFF;
    font-size: 1.2rem;
}

.contentIcon .iconCircle {
     
}

.contentIcon .iconCircle1 {
     
}   


.contentIcon .iconHoras {
    position: absolute;
    top: 1.6rem;
    left: 1.5rem;
}

.contentIcon .iconBooks {
    position: absolute;
    top: 1.6rem;
    left: 1.5rem;
}

.contentButton {
    
}

.contentBtn {
    background: #C5AF19;
    border-radius: 0.1rem;
    width: 23rem;
    height: 3rem;
    color: #fff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-top: 1.2rem;
}

